# NLP Disaster Tweet Classifier

### Project Prerequisites

In [16]:
import re
import nltk
import numpy as np
import pandas as pd
import tensorflow as tf
from nltk.tokenize import word_tokenize

In [2]:
gpus = tf.config.experimental.list_physical_devices("GPU")
for gpu in gpus:
	tf.config.experimental.set_memory_growth(gpu,True)

for gpu in gpus:
	print(gpu)

PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

### Preparing the Data

In [7]:
train_df = pd.read_csv("Data/train.csv",index_col="id")
train_df.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [8]:
train_df.drop(columns=["keyword","location"],inplace=True)
train_df.head()

                                                 text  target
id
1   Our Deeds are the Reason of this #earthquake M...       1
4              Forest fire near La Ronge Sask. Canada       1
5   All residents asked to 'shelter in place' are ...       1
6   13,000 people receive #wildfires evacuation or...       1
7   Just got sent this photo from Ruby #Alaska as ...       1

### Preprocessing

In [40]:
def preprocessing(x):
    processed = re.sub(r"[^\w\s]"," ",x)
    processed_2 = re.sub(r" +"," ",processed).lower()
    
    wnl = nltk.stem.WordNetLemmatizer()
    stop_words = set(nltk.corpus.stopwords.words("english"))
    tokenizer = word_tokenize(processed_2,language='english',)
    
    processed_text = []

    for i in tokenizer:
        if i not in stop_words:
            processed_text.append(wnl.lemmatize(i))
    return " ".join(processed_text)

In [41]:
train_df["processed_text"] = train_df["text"].apply(preprocessing)
train_df.head()

,text,target,processed_text
id,,,
1,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive u
4,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
5,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
6,"13,000 people receive #wildfires evacuation or...",1,13 000 people receive wildfire evacuation orde...
7,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...